.all{
    background-color:#EFEEE9 ;
    
 }
 .navbar{
     background-color: #3F4E4F;
     
 }
 .navt{
     font-size: larger;
     color: #ffff;
     font-weight: lighter;
     
 }
   .prof-rectangle71 {
     left: 1570px;
     top: 20px;
     width: 168px;
     height: 58px;
     opacity: 0.20;
     z-index: 5;
     position: absolute;
     border-color: rgba(224, 224, 224, 1);
     border-style: solid;
     border-width: 1px;
     border-radius: 10px;
   }
   .prof-text {
     top: 53px;
     left: 1650px;
     color: var(--dl-color-default-gray4);
     height: auto;
     z-index: 6;
     position: absolute;
     font-size: 13px;
     font-weight: 400;
     text-align: left;
     font-family: sans-serif;
     font-weight: 500;
     line-height: normal;
     font-stretch: normal;
     text-decoration: none;
   }
   .prof-txt {
     top: 21px;
     left: 1570px;
     width: 56px;
     height: 56px;
     z-index: 7;
     position: absolute;
     border-radius: 8px 0 0 8px;
   }
   .prof-text2 {
     top: 31px;
     left: 1650px;
     color: rgb(255, 255, 255);
     width: 70px;
     height: auto;
     position: absolute;
     font-size: 15px;
     text-align: left;
     font-family: sans-serif;
     font-weight: 600;
     line-height: normal;
     font-stretch: normal;
     text-decoration: none;
   }
 .vector{
     right: 150px;
     top: 25px;
     height: 52px;
     opacity:0.70;
     position: absolute;
     border-color: rgba(224, 224, 224, 1);
     border-style: solid;
     border-width: 1px;
 }
 .logout{
     right: 52px;
     color: var(--dl-color-default-gray4);
     height: 40px;
     width: fit-content;
     z-index: 6;
     position: absolute;
     font-size: 13px;
     font-weight: 400;
     text-align: left;
     font-family: sans-serif;
    
     
     
 }
 .sz{
     font-size: 50px;
 }
 .text-warning{
     font-family: 'Poppins', sans-serif;
     font-weight: bolder;
 }
 .text-white{
     font-family: 'Be Vietnam Pro', sans-serif;
 }
 .txt-prof{
    background-color: #EFEEE9;
    box-shadow: -2px 1px 10px 0px #9e9a9a;
    height: 80px;
    text-align: left;
 }
 .txt-prof h1{
    padding-top: 20px;
    font-size: 32px;
    padding-left: 310px;
    color: #6E7476;
    font-family: 'Poppins', sans-serif;
    font-weight:  600;
 }
.prof-left{
    margin-top: 40px;
    margin-left: 250px;
    background-color: #FFFFFF;
    width: 366px;
    height: 551px;
    border-radius: 20px;
    box-shadow: 2px 5px 10px 1px #9b9898;
    outline: 1px solid #929090;
}
.line{
    margin-top: 10p;
    display: grid;
    margin-left: 0px;
    background-color: #000000;
    width: 366px;
    height: 1px;
    right: 150px;
    top: 25px;
    height: 52px;
    opacity:0.70;
    position: absolute;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    border-width: 1px;
}
